.nav-link {

    i {
        display: none;
    }

    &.active {
        small {
            color: rgb(209, 118, 43);
        }
        
        i {
            display: inline;
        }
    }
}

.detail {
    .minus {
        display: none;
    }

    &:has(.collapse.show) {
        .header {
            .plus {
                display: none;
            }
            .minus  {
                display: inline;
            }
        }
    }
}